rem2pdf/Makefile.old
*.bak
*.o
*~
.gitignore
TAGS
autom4te.cache
config.log
config.status
rem2html/Makefile
src/*.tar.gz*
src/Makefile
src/config.h
src/rem2ps
src/remind
src/version.h
tests/test.out
www/Makefile
rem2pdf/Makefile.PL
MYMETA.json
MYMETA.yml
Makefile
blib/
pm_to_blib
rem2pdf/Makefile.top
rem2pdf/bin/rem2pdf
